<div>
Name: <%=@product.name%>
Details: <%=@product.details%>

<%= link_to 'Update', edit_product_path(@product), method: :get%>
<%= link_to 'Delete', product_path(@product), method: :delete, :data => {:confirm => 'Are you sure?'}%>


</div>